* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    box-sizing: border-box;
    color: #2EE6D6;
}

section {
    padding: 30vh 30px 0 30px;
}

body {
    border: 20px solid;
}

section a {
    text-decoration: none;
    border: 2px solid;
    border-radius: 30px;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 5px 5px 0;
    font-size: 16px;
}

section a:hover {
    color: white;
    background-color: #2EE6D6;
}

.title-s {
    font-size: 60px;
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}

@media (max-width: 540px) {
    .title-s {
        font-size: 10vw;
        letter-spacing: calc(6vw / 5);
    }
}