* {
    font-family: 'Montserrat', sans-serif;
    margin: 0%
}

.scene {
    height: 30vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.scene.title {
    background-image: url(title.svg);
    height: 100vh;
    min-height: 100%
}
.scene.aboutus {
    background-image: url(beachMaterial.png);
}
.scene.works {
    background-image: url(works.svg);
}
.scene.hobbies {
    background-image: url(hud.png);
}
.scene.links {
    background-image: url(bubmob.svg)
}

.seemore {
    background-color: #FF9EAD;
    color: white;
    font-weight: 700;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: 40px;
}

.seemore:hover {
    background-color: #FC6E83;
}


.titleh {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 700;
    font-style: italic;
    color: white;
    top: 50%;
    left: 10%;
    position: absolute;
    transform: translate(0%, -50%)
}

.titles {
    font-size: 20px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.5);
    top: 90%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    text-align: center;
}

.childtitle {
    font-size: 3.5rem;
    font-weight: 600;
    color: white;
    text-align: center;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.invisible {
    color: rgba(93, 219, 211, 0);
}

nav > ul {
    top: 0;
    width: 100%;
    z-index: 1;
    box-sizing: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(93, 219, 211, 0);
    position: fixed;
    color: white;
}

nav > ul > li {
    float: left;
    color: inherit;
}

nav > ul > li > a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
}

nav > ul > li > a:hover {
    background-color: white;
    color: #FF9EAD
}

.logo {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.scrolldown {
    background-color: white;
    color: #5DDBD3;
}

.section {
    padding: 0px 32px;
    height: 70vh;
    min-height: 60vh;
}

.section h1 {
    color: #5DDBD3;
    font-size: 40px;
    padding: 30px 0px;
}

.section h2 {
    color: gray;
    padding: 10px 0px;
}

.section p {
    min-height: 30%;
}
