:root {
    --m: #26BFB3;
    --b: #ffffff;
} 

@font-face {
    font-family: "Metropolis";
    font-weight: 700;
    src: local("Metropolis"), url("./Metropolis-Bold.woff") format('woff');
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --b: rgb(0, 56, 93);
    }
} */

* {
    font-family: 'Metropolis';
    font-weight: 700;
    margin: 0;
    box-sizing: border-box;
    color: var(--m);
}

.logo {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 50px;
    left: 50px;
    fill: var(--m);
}

section {
    padding: 30vh 30px 0 30px;
}

body {
    border: 20px solid;
    height: 100%;
    background-color: var(--b);
}

section a {
    text-decoration: none;
    border: 2px solid;
    border-radius: 30px;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 5px 5px 0;
    font-size: 16px;
}

section a:hover {
    color: var(--b);
    background-color: var(--m);
    border: 2px solid var(--m);
}

.title-s {
    font-size: 60px;
    padding-bottom: 40px;
    letter-spacing: 5px;
}

@media (max-width: 540px) {
    .title-s {
        font-size: 10vw;
        letter-spacing: calc(6vw / 5);
    }
}