* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

#main {
    height: 100vh;
    background: url("contents/images/mainback.svg") no-repeat center fixed;
    background-size: cover;
    position: relative;
}

#t1, #t2 {
    font-size: 8vh;
    padding: 6vh;
    transform: translate(0%, -50%);
    position: absolute;
}

#t1 {top: 40%;}
#t2 {top: 50%;}

.sector {
    min-height: 100vh;
    color: #5ddbd3;

    padding: 0 0 0 4vh;
    overflow: auto;
}

.sector h1 {
    font-size: 75px; 
    color: #5ddbd3;
    padding: 8vh 0 0 0;
}

.sector h2 {
    padding: 5vh 0 0 0; 
    font-size: 30px;
    color: #00BAAE;
}

.sector p {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 3vh 0 0 0; 
    font-size: 20px;
    color: #41615F;
}

.sector li {
    font-family: 'Noto Sans KR', sans-serif;
}

.sep {
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.sep h1 {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    font-size: 8vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sep0 {background: url("contents/images/p1.png") no-repeat center fixed; background-size: cover;}
#sep1 {background: url("contents/images/p2.png") no-repeat center fixed; background-size: cover;}
#sep2 {background: url("contents/images/p4.png") no-repeat center fixed; background-size: cover;}

.button {
    background-color: #FF9EAD;
    color: white;
    font-weight: 700;
    font-size: 30px;
    padding: 10px 20px;
    display: inline-block;
    margin: 5vh 10px 5vh 0;
}

#contact {
    height: 100vh;
    background: url("contents/images/mainback.svg") no-repeat center fixed;
    background-size: cover;
}

#c1 {
    color: white;
    padding: 4vh;
    font-size: 8vh;

}



