* {
  margin: 0;
  --cyan: #26bfb3;
  font-family: "Montserrat";
}

.flex-container {
  display: flex;
}

header {
  position: fixed;
  top: 0;

  width: 100%;
  height: 80px;
}

header .flex-container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1200px;
  height: 100%;

  align-items: center;
  justify-content: space-between;
}

#logo {
  width: 28px;
}

#title {
  font-size: 28px;
  font-weight: 700;
  color: var(--cyan);
}

footer {
  position: fixed;
  bottom: 0px;

  width: 100%;
  height: 80px;
}

footer .flex-container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 800px;
  height: 100%;

  align-items: center;
  justify-content: space-between;
}

footer .flex-container a {
  color: var(--cyan);
  text-decoration: none;
  letter-spacing: 1.5px;
}

footer .flex-container a:hover {
  text-decoration: underline;
}



main {
  height: 100vh;
}

main .flex-container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1200px;
  height: 100%;

  align-items: center;
  justify-content: space-between;
}

main .flex-container * {
  flex: 1;
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -1.2px;
  color: var(--cyan);
}

#main-l {
  text-align: right;
}

#main-m {
  flex: 1.5;
}

#parallelogram {
  width: 85%;
  max-width: 480px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--cyan);
  transform: skewX(-15deg);
}

@media (max-width: 600px) {
  footer {
    height: 200px;
  }

  footer .flex-container {
    justify-content: space-evenly;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  main .flex-container {
    flex-direction: column;
    justify-content: center;
  }

  #main-l, #main-m, #main-r {
    flex: none;
    text-align: center;
  }

  #main-m {
    width: 100%;
  }
}
