@font-face {
  font-family: "Mona Sans";
  src: url("/public/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/public/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

* {
  box-sizing: border-box;
  scroll-snap-type: y proximity;
}

html {
  font-family: "Mona Sans", "Pretendard", "Inter";
  word-break: keep-all;
}

body {
  margin: 0;
}

header {
  display: flex;
  position: fixed;
  top: 40px;
  right: 40px;
}

section {
  min-height: 100vh;
  padding: 40px 0;
  scroll-snap-align: start end;
  overflow: auto;
}

section > * {
  margin-left: max(20px, 50% - 640px);
  margin-right: max(20px, 50% - 640px);
}

h1 {
  font-size: 64px;
  margin-top: 300px;
  margin-bottom: 48px;
}

h2 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 12px;
}

h4 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 12px;
}

h6 {
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 12px;
}

hr {
  width: 20px;
  border: 2px solid white;
  margin-top: 120px;
  margin-bottom: 20px;
}

ul {
  padding: 0 0 0 20px;
}

a {
  text-decoration: none;
}

a.link {
  color: #225a55;
  border-bottom: 1px dotted #000;
}

a.link::after {
  content: "↗";
}

a.hyper {
  display: inline-block;
  font-size: 16pt;
  font-weight: 900;
  color: white;
  background-color: #26bfb3;
  padding: 12pt 20pt;
  border-radius: 8pt;
  font-variation-settings: "wdth" 125;
  text-decoration: none;
  border: none;
}

div.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

div.grid > a {
  display: block;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;
  color: black;
}

div.grid ul {
  padding: 0;
  margin: 16px 0 0;
}

div.grid ul li {
  display: inline-block;
  padding: 8pt 12pt;
  border-radius: 1000pt;
  background-color: #eeeeee;
}

#title *,
#works01 *,
#works02 * {
  color: white;
}

#works01 img,
#works02 img {
  margin-top: 80px;
}

#title {
  background: url("/public/main.png") center no-repeat;
}

#works01 {
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0)), url("/public/br-screenshot.png") center no-repeat;
    
}

#works02 {
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0)), url("/public/rl-screenshot.png") center no-repeat;
}

#others {
  background-color: #f5f5f5;
}
