@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/PlusJakartaSans.woff2") format("woff2-variations");
  font-weight: 200 800;
}

* {
  --gap: 24px;
  --rad: 8px;
  --cyan: #26bfb3;
  --bg: #fff;
  --icon: 24px;
  --article: 780px;
  box-sizing: border-box;
}

header {
  background: linear-gradient(#fff, #fff2);
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Plus Jakarta Sans";
  color: var(--cyan);
  gap: var(--gap);
  padding: 0 var(--gap);
  z-index: 1;
}

body {
  font-family: "Pretendard Variable", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #444;
  font-size: 1rem;
  margin: 0;
}

main > * {
  padding: var(--gap);
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -0.8px;
  margin: 3.6rem 0 1.2rem;
}

h2 {
  font-size: 1.6rem;
  margin: 3rem 0 1.2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 2.6rem 0 1.2rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 2.25rem 0 1.2rem;
}

p {
  line-height: 1.7;
  margin: 0 0 1rem;
}

a,
a:visited {
  color: #1c8c83;
  text-decoration-style: dotted;
}

code {
  padding: 2px 5px;
  background-color: #fff4c57f;
  border-radius: var(--rad);
}

pre {
  padding: var(--gap);
  border-radius: var(--rad);
}

pre > code {
  all: unset;
}

pre > code::selection,
pre > code *::selection {
  background-color: #ffffff40;
}

blockquote {
  padding: 1rem 1.2rem;
  margin: 0 0 1rem;
  background-color: #dceeeb;
  border-radius: var(--rad);
}

blockquote > *:last-child {
  margin-bottom: 0;
}

ol,
ul {
  font-size: 1rem;
  padding: 0;
  margin: 0 0 1.2rem 1.2rem;
}

li {
  margin: 0 0 0.6rem;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin: 8px 0 8px 32px;
  padding: 0;
}

li::marker {
  font-weight: 700;
}

ol > li {
  list-style-type: numeric;
}

ul > li {
  list-style-type: disc;
}

*::selection {
  background-color: #00ffea;
}

article {
  max-width: var(--article);
  margin: 0 auto;
  word-break: keep-all;
}

article img {
  max-width: 100%;
  max-height: 540px;
  border-radius: var(--rad);
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 6px -1px #0005;
}

[class^="flex"] {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

[class^="flex"] > * {
  flex: 1;
}

[class^="grid"] {
  display: grid;
  gap: 10px var(--gap);
}

.grid-1-2 {
  grid-template-columns: 1fr 2fr;
}

.grid-1-1 {
  grid-template-columns: 1fr 1fr;
}

.grid-1-3 {
  grid-template-columns: 1fr 3fr;
}

@media (max-width: 740px) {
  .grid-1-2,
  .grid-1-1,
  .grid-1-3 {
    grid-template-columns: auto;
  }
}

footer {
  height: 40px;
  background-color: var(--cyan);
  font: 400 0.8rem "Plus Jakarta Sans";
  color: white;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: var(--gap);
  align-items: center;
  justify-content: center;
}

.empty-card {
  display: flex;
  height: 450px;
  border: 1px solid #ddd;
  border-radius: var(--rad);
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  height: 450px;
  border: 1px solid #eee;
  border-radius: var(--rad);
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0px 8px 8px -8px #0001;
  transition: box-shadow 0.2s, transform 0.2s;
}

.card:hover {
  box-shadow: 0px 8px 16px -8px #00b8a970;
  transform: scale(1.01);
}

.card img {
  border-bottom: 1px solid #eee;
  max-height: 240px;
  object-fit: cover;
}

.card-date {
  padding: 8px var(--gap);
  font-size: 0.9rem;
  font-weight: 800;
  color: #888;
  text-align: end;
}

.card-title {
  padding: 20px var(--gap) 0;
  color: #444;
  font-size: 1.4rem;
  font-weight: 600;
}

.card-desc {
  padding: 12px var(--gap) 0;
  color: #333;
  font-size: 1rem;
  font-weight: 400;
}

hr {
  border: 1px solid #ddd;
  border-radius: 999px;
}

.meta {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px 18px;
  margin: 36px 0;
  align-items: center;
}

.meta .label {
  color: #5f5f5f;
  font-size: 0.9rem;
  font-weight: 800;
}

.meta span {
  display: inline-block;
  padding: 3px 9px;
  border-radius: 999px;
  border: 1px solid #099f93;
  color: #099f93;
  font-size: 0.9rem;
  font-weight: 600;
}

.stack,
.tag,
.platform {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.counter {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-end;
}

.counter > div {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 16px;
  border-radius: 999px;
  color: #aaa;
  font-weight: 800;
}

.counter .love {
  border: 1px solid #eee;
  transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s;
  cursor: pointer;
}

.counter .in-love {
  background-color: var(--cyan);
  color: white;
}

.counter .love:hover {
  box-shadow: 0px 8px 16px -8px #00b8a970;
}