@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/PlusJakartaSans.woff2") format("woff2-variations");
  font-weight: 200 800;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Plus Jakarta Sans", "Pretendard", "Inter";
  word-break: keep-all;
}

body {
  margin: 0;
}

header {
  display: flex;
  position: fixed;
  top: 40px;
  right: 40px;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section > .wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 60px auto;
  padding: 0 20px;
}

section img {
  max-width: 100vw;
  height: auto;
  object-fit: cover;
}

h1 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 800;
}

h2 {
  font-size: 2.4rem;
  margin-top: 3.75rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

h3 {
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

h4 {
  font-size: 1.4rem;
  margin-top: 2.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h5 {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

p {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

hr {
  width: 20px;
  border: 2px solid white;
  margin-top: 80px;
  margin-bottom: 20px;
}

ul {
  padding: 0 0 0 20px;
}

li {
  margin-bottom: 4px;
}

a {
  text-decoration: none;
}

a {
  color: #225a55;
  border-bottom: 1px dotted #000;
}

a.hyper {
  display: inline-block;
  font-size: 16pt;
  font-weight: 900;
  color: white;
  background-color: #26bfb3;
  padding: 12pt 20pt;
  border-radius: 8pt;
  font-variation-settings: "wdth" 125;
  text-decoration: none;
  border: none;
  margin: 0 8px 8px 0;
}

div.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1280px) {
  div.grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 860px) {
  div.grid {
    grid-template-columns: 1fr;
  }
}

div.grid > a {
  display: block;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 8px;
  padding: 16px;
  color: black;
  transition: 200ms;
}

div.grid > a:hover {
  display: block;
  border: 1px solid #FFFFFF00;
  box-shadow: 0px 2px 8px #00dbc9d2;
  border-radius: 8px;
  padding: 16px;
  color: black;
}

div.grid ul {
  padding: 0;
  margin: 16px 0 0;
}

div.grid ul li {
  display: inline-block;
  padding: 8pt 12pt;
  border-radius: 1000pt;
  background-color: #eeeeee;
}

div.grid.ex > a {
  display: flex;
  padding: 24px;
  gap: 20px;
  align-items: center;
}

div.grid.ex > a span {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

#title *,
#rl *,
#br * {
  color: white;
}

#rl img,
#br img {
  margin-top: 60px;
  max-width: calc(100vw - 48px);
}

#title {
  background: url("/main.png") center no-repeat;
}

#br {
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0)),
    url("/br-screenshot.png") center no-repeat;
}

#rl {
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0)),
    url("/rl-screenshot.jpg") center no-repeat;
}

#others {
  background-color: #f5f5f5;
}

#about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  place-items: center;
}

#about-grid :nth-child(1) {
  grid-column: 1 / 3;
}

@media (max-width: 1280px) {
  #about-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  #about-grid :nth-child(1) {
    grid-column: 1 / 2;
  }
}

@media (max-width: 860px) {
  #about-grid {
    grid-template-columns: 1fr;
  }
  #about-grid :nth-child(1) {
    grid-column: 1 / 1;
  }
}
