---
import BaseHead from "../components/BaseHead.astro";
import ResumeContent from "../components/Resume.astro";

---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <BaseHead
      title="인쇄용 이력서 페이지"
      description="인쇄용 이력서 페이지입니다."
    />
  </head>
  <body>
    <main>
      <ResumeContent style="padding: 0" />
    </main>
  </body>
</html>
