---
import Default from "../layouts/Default.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
---

<Default>
  <article>
    <h1>손인호</h1>

    <p style="text-align: end; color: gray; font-weight: 700;">
      2023년 5월 26일에 수정됨
    </p>

    <div class="grid-1-2">
      <p><strong>희망 분야</strong></p>
      <ul>
        <li>게임 프론트엔드 프로그래밍</li>
        <li>게임 UI/UX 디자인</li>
        <li>웹 디자인</li>
        <li>풀스택 웹 개발</li>
      </ul>
      <p><strong>현재 상태</strong></p>
      <p>신입 / <strong>현재 적극 구직 중</strong></p>
    </div>
    <hr />

    <h2>소개합니다.</h2>
    <blockquote>
      <p>모두를 위한 게임 크리에이터, <strong>손인호</strong>입니다.</p>
    </blockquote>
    <p>
      Unity를 활용하여 리듬 게임, 3D TPS, 퍼즐, AR 등 다양한 게임을 제작했으며,
      현재 Unreal을 활발히 공부 중입니다.
    </p>
    <p>그래픽 디자인을 게임 내 그래픽 리소스 및 웹을 제작할 수 있습니다.</p>
    <p>
      팀 프로젝트로 Next.js 및 Firebase 기반으로 웹 기반의 도서 커뮤니티를
      개발하였으며, 최신 웹 기술에 관심이 많아 개인 작업으로 SolidJS, Astro,
      Three.js 등 여러 프레임워크 및 라이브러리를 다뤄보았습니다.
    </p>
    <p>
      효율적인 협업이 무엇인지 계속 고민하며, 팀 프로젝트에서 협업 방식을
      정의하고, 프로젝트 계획 및 CI/CD 업무를 주로 담당했습니다. 또한, 이슈
      트래커나 자동화 도구 등의 사용법을 연구하여 생산성을 높일 수 있는 방법을
      탐구하는 것을 좋아합니다.
    </p>
    <hr />

    <h2>정보</h2>
    <div class="grid-1-2">
      <p><strong>생년월일</strong></p>
      <p>1999년 1월 24일</p>
      <p><strong>이메일</strong></p>
      <ul>
        <li>주 사용 — <a href="mailto:me@cyan4s.com">me@cyan4s.com</a></li>
        <li>
          보조 사용 — <a href="mailto:sih5214p@gmail.com">sih5214p@gmail.com</a>
        </li>
      </ul>
      <p><strong>웹사이트</strong></p>
      <ul>
        <li>메인 — <a href="https://cyan4s.com/">https://cyan4s.com/</a></li>
        <li>
          GitHub — <a href="https://github.com/CYAN4S/"
            >https://github.com/CYAN4S/</a
          >
        </li>
        <li>
          Dribbble — <a href="https://dribbble.com/CYAN4S"
            >https://dribbble.com/CYAN4S</a
          >
        </li>
      </ul>
    </div>
    <hr />

    <h2>📚 학력</h2>
    <div class="grid-1-2">
      <div>
        <p><strong>금오공과대학교</strong></p>
        <p>컴퓨터공학과 학사</p>
      </div>
      <div>
        <p>2017년 3월 입학 - 2023년 2월 졸업</p>
        <ul>
          <li>전체 평점 — <strong>3.97</strong> / 4.50</li>
          <li>전공 평점 — <strong>4.07</strong> / 4.50</li>
        </ul>
      </div>
      <div>
        <p><strong>속초고등학교</strong></p>
        <p>과학 중점반</p>
      </div>
      <div>
        <p>2014년 3월 입학 - 2017년 2월 졸업</p>
      </div>
    </div>
    <hr />

    <h2>🏆 수상 실적</h2>
    <div class="grid-1-2">
      <div>
        <p><strong>2022 경북 게임인 해커톤</strong></p>
        <p>최우수상</p>
      </div>
      <div>
        <p>2022년 11월</p>
        <p>
          게임 <strong
            ><a href="/portfolio/bouncy-rumble">‘Bouncy Rumble’</a></strong
          > 제작 및 발표
        </p>
      </div>
      <div>
        <p><strong>2022 kit Engineering Fair</strong></p>
        <p>동상</p>
      </div>
      <div>
        <p>2022년 12월</p>
        <p>
          웹서비스 <strong
            ><a href="/portfolio/bookstamp">‘Bookstamp’</a></strong
          > 전시
        </p>
      </div>
      <div>
        <p><strong>한국정보기술학회 대학생 논문경진대회</strong></p>
        <p>동상</p>
      </div>
      <div>
        <p>2022년 6월</p>
        <p>논문 「사용자 소통 활성화를 위한 책 커뮤니티 개발」</p>
        <ul>
          <li>
            웹서비스 <strong
              ><a href="/portfolio/bookstamp">‘Bookstamp’</a></strong
            >와 관련된 논문
          </li>
        </ul>
      </div>
      <div>
        <p><strong>대경권 대학생 프로그래밍 경진 대회</strong></p>
        <p>본선 출전</p>
      </div>
      <div>
        <p>2018년 4월</p>
        <p>알고리즘 문제 풀이</p>
      </div>
    </div>

    <hr />

    <h2>🛠 기술 스택</h2>
    <div class="grid-1-2">
      <p><strong>Game Development</strong></p>
      <ul>
        <li><strong>자신 있음 — Unity</strong></li>
        <li>다룰 수 있음 — Unreal</li>
      </ul>
      <p><strong>Programming Language</strong></p>
      <ul>
        <li><strong>자신 있음 — C#, JavaScript, TypeScript</strong></li>
        <li>다룰 수 있음 — Python, SQL, C++</li>
        <li>이론적 지식 있음 — C, Java, Kotlin</li>
      </ul>
      <p><strong>Web Tool</strong></p>
      <div>
        <ul>
          <li>HTML, CSS</li>
          <li>Library — React, Three.js</li>
          <li>Framework — Next.js, SoildJS, Astro, Jekyll</li>
          <li>Backend — Firebase, Supabase, Node.js</li>
        </ul>
      </div>
      <p><strong>Database</strong></p>
      <ul>
        <li>SQL(MySQL, PostgreSQL)</li>
        <li>Firebase Firestore(문서형 DB)</li>
      </ul>
      <p><strong>Etc.</strong></p>
      <ul>
        <li>Machine Learning — TensorFlow</li>
      </ul>
    </div>
    <hr />

    <h2>주요 프로젝트</h2>

    <h3>RHYACTION LIVE</h3>
    <div class="grid-1-1">
      <img src="/portfolio/rhyaction-live/ss.jpg" alt="" />
      <div>
        <p>
          <strong>Unity와 FMOD</strong>를 사용한 오픈 소스 노트 낙하형 리듬
          게임입니다.
        </p>
        <p><em>Windows 10/11</em></p>
        <p>
          <a href="https://github.com/cyan4s/rhyaction-live">
            https://github.com/cyan4s/rhyaction-live
          </a>
        </p>
      </div>
    </div>

    <h3>Bouncy Rumble</h3>
    <div class="grid-1-1">
      <img src="/portfolio/bouncy-rumble/s1.png" alt="" />
      <div>
        <p>
          <strong>Unity</strong> 기반의 TPS 게임으로, 플레이어가 공을 부풀려 던지는
          것이 핵심입니다.
        </p>
        <p><em>Windows 10/11</em></p>
        <p>
          <a href="https://github.com/CYAN4S/bouncy-rumble">
            https://github.com/CYAN4S/bouncy-rumble
          </a>
        </p>
      </div>
    </div>

    <h3>Bookstamp</h3>
    <div class="grid-1-1">
      <img src="/portfolio/bookstamp/search.png" alt="" />
      <div>
        <p>
          <strong>Next.js</strong> 기반의 도서 중심의 커뮤니티 웹서비스로, 딥러닝
          기반의 도서 추천 기능이 특징입니다.
        </p>
        <p><em>Web</em></p>
        <p>
          <a href="https://github.com/CYAN4S/bouncy-rumble">
            https://github.com/CYAN4S/bouncy-rumble
          </a>
        </p>
      </div>
    </div>

    <h3>개인 웹사이트</h3>
    <div class="grid-1-1">
      <img src="/placeholder-default.png" alt="" />
      <div>
        <p>
          블로그, 포트폴리오, 이력서 등의 개인 작업물들을 보여주기 위한 사이트입니다.
        </p>
        <p><em>Web</em></p>
        <p>
          <a href="https://github.com/CYAN4S/CYAN4S.github.io">
            https://github.com/CYAN4S/CYAN4S.github.io
          </a>
        </p>
      </div>
    </div>

    <h2>사이드 프로젝트</h2>

    <h3>Bouncing Cyan!</h3>
    <div class="grid-1-1">
      <img src="/portfolio/bouncyan/bc.png" alt="" />
      <div>
        <p>캐릭터가 통통 튀는 애니메이션을 볼 수 있는 웹사이트입니다.</p>
        <p><em>Web</em></p>
        <p>
          <a href="https://github.com/CYAN4S/CYAN4S.github.io">
            https://github.com/CYAN4S/CYAN4S.github.io
          </a>
        </p>
      </div>
    </div>

    <h3>AR Experience</h3>
    <div class="grid-1-1">
      <img src="/portfolio/ar-experience/ar.png" alt="" />
      <div>
        <p>
          사진 위에 캐릭터를 띄우는 이미지 트래킹, 사방에서 오는 몬스터를
          처치하는 AR 슈팅 게임이 있는 Unity 기반 안드로이드 앱입니다.
        </p>
        <p><em>Android</em></p>
        <p>
          <a href="https://github.com/CYAN4S/ar-experience">
            https://github.com/CYAN4S/ar-experience
          </a>
        </p>
      </div>
    </div>

    <h3>SloydJS</h3>
    <div class="grid-1-1">
      <img src="portfolio/sloydjs/sl.png" alt="" />
      <div>
        <p>
          웹 기반의 슬라이드 퍼즐 게임으로, 크기 변경, 섞기, 타이머, 그리고
          Dijkstra 알고리즘 기반의 솔버 기능이 있습니다.
        </p>
        <p><em>Web</em></p>
        <p>
          <a href="https://github.com/CYAN4S/sloydjs"
            >
            https://github.com/CYAN4S/sloydjs
            </a
          >
        </p>
      </div>
    </div>

    <h3>Wordle Clone</h3>
    <div class="grid-1-1">
      <img src="/portfolio/wordle-clone/wd.png" alt="" />
      <div>
        <p>유명한 영단어 퍼즐게임인 Wordle을 Unity로 클론 코딩하였습니다.</p>
        <p><em>Web</em></p>
        <p>
          <a href="https://github.com/CYAN4S/wordle-clone">
            https://github.com/CYAN4S/wordle-clone
          </a>
        </p>
      </div>
    </div>

    <h3>Microplatform</h3>
    <div class="grid-1-1">
      <img src="/portfolio/microplatform/mp.png" alt="" />
      <div>
        <p>간단한 2D 플랫포머 게임으로, 키보드 및 터치를 지원합니다.</p>
        <p><em>Web</em></p>
        <p>
          <a href="https://github.com/CYAN4S/microplatform">
            https://github.com/CYAN4S/microplatform
          </a>
        </p>
      </div>
    </div>

    <hr />

    <h2 id="디자인">디자인</h2>
    <ul>
      <li>
        Dribbble —
        <a href="https://dribbble.com/CYAN4S"> https://dribbble.com/CYAN4S</a>
      </li>
      <li>
        Behance —
        <a href="https://www.behance.net/CYAN4S">
          https://www.behance.net/CYAN4S
        </a>
      </li>
      <li>
        Vimeo —
        <a href="https://vimeo.com/cyan4s"> https://vimeo.com/cyan4s</a>
      </li>
    </ul>
    <p>
      <strong
        >Affinity Designer, Figma, SVGator, Blender, VRoid Studio, Unreal Engine</strong
      >을 사용합니다.
    </p>
    <div class="flex">
      <div>
        <p><strong>그래픽 디자인</strong></p>
        <p>
          게임 내 사용되는 대부분의 그래픽 리소스 및 로고를 직접 제작합니다.
        </p>
      </div>
      <div>
        <p><strong>UI/UX 설계</strong></p>
        <p>
          웹 디자인을 시작으로, 사용자에게 좋은 경험을 제공하는 UI가 무엇인지
          계속 고민해오고 있습니다.
        </p>
      </div>
    </div>
    <div class="flex">
      <div>
        <p><strong>프레젠테이션</strong></p>
        <p>
          이전부터 PPT 자료를 만들어왔으며, 강렬하고 심플한 PPT 제작을
          지향합니다.
        </p>
      </div>
      <div>
        <p><strong>3D 모션 그래픽</strong></p>
        <p>최근 Blender를 통한 VJ Loop 영상 제작에 도전하고 있습니다.</p>
      </div>
    </div>

    <hr />
    <h2 id="취미">취미</h2>
    <ul>
      <li>
        <strong>FL Studio</strong>로 EDM 프로듀싱에 도전 중이며,
        <a href="https://soundcloud.com/cyan4s">SoundCloud</a>에 시험삼아 곡을
        업로드하였습니다.
      </li>
      <li>캐릭터 드로잉에도 관심이 많습니다.</li>
      <li>
        알고리즘 문제 해결에 관심이 있었습니다. 주로 C++(C++17)을 사용했습니다.
        <ul>
          <li>
            solved.ac(BOJ) 프로필: <a href="https://solved.ac/profile/cyan4s"
              >solved.ac - cyan4s</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <hr />

    <h2 id="추가-사항">추가 사항</h2>
    <div class="grid-1-2">
      <p><strong>영어 🇺🇸</strong></p>
      <ul>
        <li><strong>TOEIC 795</strong> (2020/12/13)</li>
        <li>대학교 교내 모의 TOEIC 805 (2022/05/12)</li>
        <li>영어로 된 기술 문서를 무리없이 읽을 수 있음</li>
        <li>영어 문서 작성, 일상 영어 회화 가능</li>
      </ul>
      <p><strong>병역</strong></p>
      <div>
        <p><strong>군필</strong></p>
        <p>2019년 1월 입대 - 2020년 9월 전역</p>
      </div>

      <p><strong>논문</strong></p>
      <div>
        <p><strong>「사용자 소통 활성화를 위한 책 커뮤니티 개발」</strong></p>
        <p>
          <a
            href="https://www.dbpia.co.kr/journal/articleDetail?nodeId=NODE11082600"
          >
            https://www.dbpia.co.kr/journal/articleDetail?nodeId=NODE11082600
          </a>
        </p>
      </div>
    </div>
  </article>
  <ScrollToTop />
</Default>
