---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <div><slot /></div>
</a>

<style lang="scss">
  a {
    display: inline-block;
    text-decoration: none;

    > * {
      transition: all 0.1s;
    }
  }
  a:hover > * {
    transform: translateY(-2px);
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
