---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <div><b>CYAN4S</b></div>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <!-- <HeaderLink href="/resume">Resume</HeaderLink>
    <HeaderLink href="/portfolio">Portfolio</HeaderLink> -->
    <HeaderLink href="https://twitter.com/cyan4s" target="_blank">
      Twitter
    </HeaderLink>
    <HeaderLink href="https://github.com/cyan4s" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
</header>

<style>
  div {
    color: #26bfb3;
    font-size: 2.4rem;
    font-family: "Plus Jakarta Sans";
    margin: 1rem 0;
  }
  div b {
    font-weight: 800;
  }
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
