---
import HeaderLink from "./HeaderLink.astro";
import Icon from "./Icon.astro";
---

<style lang="scss">
  #cyan4s {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--cyan);
    text-decoration: none;
  }

  #h-1 {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  #h-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    > * {
      width: 24px;
      height: 24px;
    }
  }

  #menu-btn {
    display: none;
  }

  @media (max-width: 600px) {
    #menu-btn {
      display: block;
      cursor: pointer;
    }
    #h-1 {
      position: fixed;
      flex-direction: column;
      background-color: #fffc;
      border: 1px solid #fff8;
      box-shadow: 0px 8px 8px -8px #0002;
      border-radius: var(--gap);
      padding: var(--gap);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      top: 100px;
      right: var(--gap);
      transition: right 0.2s;
    }
    #h-1.hide {
      right: -120px;
    }
  }
</style>

<header transition:name="header">
  <a href="/" id="cyan4s"><Icon id="cyan4s" />CYAN4S</a>
  <nav id="h-1" class="hide">
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/portfolio">Portfolio</HeaderLink>
  </nav>
  <nav id="h-2">
    <a href="https://github.com/CYAN4S" aria-label="CYAN4S's GitHub"><Icon id="github" /></a>
    <a href="https://x.com/cyan4s" aria-label="CYAN4S's Twitter(X)"><Icon id="twitter" /></a>
    <div id="menu-btn"><Icon id="menu" /></div>
  </nav>
</header>

<script>
  const menuBtn = document.getElementById("menu-btn")!;
  const menu = document.getElementById("h-1")!;

  menuBtn.addEventListener("click", () => {
    if (menu.classList.contains("hide")) menu.classList.remove("hide");
    else menu.classList.add("hide");
  });
</script>
