---
import HeaderLink from "./HeaderLink.astro";
import Icon from "./Icon.astro";
---

<style lang="scss">
  #cyan4s {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--cyan);
    text-decoration: none;
  }

  #h-1 {
    display: flex;
    align-items: center;
    > div {
      margin-left: 36px;
      display: flex;
      gap: 24px;
    }
  }

  #h-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    a {
      width: 24px;
      height: 24px;
    }
  }
</style>

<header>
  <nav id="h-1">
    <a href="/" id="cyan4s"><Icon id="cyan4s" />CYAN4S</a>
    <div>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/portfolio">Portfolio</HeaderLink>
      <HeaderLink href="/resume">Résumé</HeaderLink>
    </div>
  </nav>
  <nav id="h-2">
    <a href="https://twitter.com/cyan4s"><Icon id="twitter" /></a>
    <a href="https://github.com/CYAN4S"><Icon id="github" /></a>
    <a href="https://dribbble.com/CYAN4S"><Icon id="dribbble" /></a>
  </nav>
</header>
