---
type Props = { slug: string };
const { slug } = Astro.props;
---

<style>
  .reaction {
    margin: 0 auto;
    max-width: var(--article);
  }

  .counter {
    margin-bottom: var(--gap);
  }

  .write {
    display: flex;
    gap: var(--gap);
    flex-direction: column;
  }

  .comment {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px var(--gap);
  }

  .comment-content {
    grid-column: 1 / span 2;
  }

  textarea {
    flex: auto;
    border: 1px solid #eee;
    border-radius: var(--rad);
    padding: var(--gap);
    font: 400 1rem var(--text);
  }

  button {
    align-self: flex-end;
    border: 1px solid #eee;
    padding: 0 12px;
    height: 40px;
  }
</style>

<div class="reaction">
  <div class="counter">
    <div class="visit">
      <svg style={`fill: #aaa`} width={`24px`} height={`24px`}>
        <use href={`/icon.svg#visit`}></use>
      </svg>
      10
    </div>
    <div class={`love in-love`}>
      <svg style={`fill: #fff`} width={`24px`} height={`24px`}>
        <use href={`/icon.svg#love`}></use>
      </svg>
      8
    </div>
  </div>
  <div class="feedback">
    <form action="">
      <div style={`margin-bottom: 16px`}>댓글 <strong>6</strong></div>
      <div class="write">
        <textarea
          id="commentMsg"
          placeholder="비방, 혐오, 욕설 등 부적절한 내용은 예고 없이 삭제됩니다.\n이메일로 인증 코드가 전송됩니다."
        ></textarea>
        <input type="email" />
        <button type="button">메일 인증 후 댓글 남기기</button>
      </div>
    </form>
    <div class="comments">
      <div class="comment">
        <div class="comment-content">서로 소통하며 지내요~</div>
        <div class="comment-email">som**@e****.com</div>
        <div class="comment-more">삭제</div>
      </div>
      <div class="comment">
        <div class="comment-content">서로 소통하며 지내요~</div>
        <div class="comment-email">someone@example.com</div>
        <div class="comment-more">삭제</div>
      </div>
    </div>
  </div>
</div>
