---
import { getCollection } from "astro:content";
import ResumeCard from "./ResumeCard.astro";
import ResumeSmallCard from "./ResumeSmallCard.astro";

const { ...props } = Astro.props;

const folios = await getCollection("portfolio");

function find(slug: string) {
  return folios.find((v) => v.slug === slug)!;
}
---

<style>
  hr {
    margin: 24px 0;
  }
</style>

<article {...props}>
  <h1 style="color: var(--cyan)">손인호</h1>
  <p style="text-align: end; color: gray; font-weight: 700;">
    2023년 7월 12일에 수정됨
  </p>

  <div class="grid-1-2">
    <p><strong>관심 포지션</strong></p>
    <ul>
      <li><strong>게임 클라이언트 프로그래밍</strong></li>
      <li>게임 UI 그래픽 디자인</li>
      <li>풀스택 웹 개발</li>
    </ul>
  </div>
  <hr />

  <section>
    <h2>정보</h2>
    <div class="grid-1-2">
      <p><strong>생년월일</strong></p>
      <p>1999년 1월 24일</p>
      <p><strong>이메일</strong></p>
      <p>
        <a href="mailto:me@cyan4s.com">me AT cyan4s.com</a>
      </p>
      <p><strong>웹사이트</strong></p>
      <ul>
        <li>메인 — <a href="https://cyan4s.com">https://cyan4s.com</a></li>
        <li>
          GitHub — <a href="https://github.com/CYAN4S">
            https://github.com/CYAN4S
          </a>
        </li>
      </ul>
      <p><strong>병역</strong></p>
      <p>2019년 1월 입대 - 2020년 9월 전역</p>
    </div>
    <hr />
  </section>

  <h2>소개합니다.</h2>
  <p>모두를 위한 게임 크리에이터, <strong>손인호</strong>입니다.</p>
  <p>
    게임 개발에 대한 열정이 가득하며, <strong>Unity</strong>를 활용하여 리듬
    게임, 3D TPS, 퍼즐, AR 등 다양한 장르의 게임을 제작해 왔습니다.
  </p>
  <p>
    예전부터 게임과 창작 활동을 줄곧 좋아해왔으며, 자연스레 게임 개발에도 흥미를
    가지게 되었습니다. 대학에서 컴퓨터 공학을 전공하며, 전공 지식을 바탕으로
    Unity를 통한 <strong>게임 프로그래밍</strong>을 독학했습니다. 현재까지도
    Unity의 최신 기술에 지속적으로 관심을 가지며 지속적인 학습을 이어가고
    있습니다.
  </p>
  <p>
    게임 프로그래밍뿐만 아닌 <strong>게임 그래픽, 게임 기획</strong>
    등 게임 개발의 전반적인 영역에 도전하며, 다재다능한 게임 개발자로 성장하는 것을
    목표로 삼고 있습니다. 특히 <strong>그래픽 디자인</strong> 분야에 관심을 가졌으며,
    게임 내 그래픽 리소스 작업과 웹 디자인에도 자신이 있습니다. 창작에 대한 욕구가
    강해, 그래픽 디자인 외에도 작곡 및 캐릭터 드로잉을 취미로 즐기며 다양한 영감을
    얻고 있습니다.
  </p>
  <p>
    게임 외에도, 팀 프로젝트로 Next.js 및 Firebase 기반의
    <strong>웹 서비스</strong>인 도서 커뮤니티를 개발한 경험이 있습니다. 개인
    홈페이지 개발에는 Astro, SolidJS, Three.js, Supabase 등 다양한 웹 도구가
    활용되었습니다.
  </p>
  <p>
    다양한 분야에서의 경험, 지식, 그리고 열정을 바탕으로 새로운 도전에 대비하고
    있습니다. 함께 일하고 성장할 기회가 주어진다면, 최선을 다해 회사에
    기여하겠습니다.
  </p>
  <hr />

  <h2>학력</h2>
  <div class="grid-1-2">
    <div>
      <p><strong>금오공과대학교</strong><br />— 컴퓨터공학과 학사</p>
    </div>
    <div>
      <p>2017년 3월 입학 - 2023년 2월 졸업</p>
      <ul>
        <li>전체 평점 — <strong>3.97</strong> / 4.50</li>
        <li>전공 평점 — <strong>4.07</strong> / 4.50</li>
      </ul>
    </div>
    <div>
      <p><strong>속초고등학교</strong><br />— 과학 중점반</p>
    </div>
    <div>
      <p>2014년 3월 입학 - 2017년 2월 졸업</p>
    </div>
  </div>
  <hr />

  <h2>기술 스택</h2>
  <div class="grid-1-2">
    <p><strong>Game Development</strong></p>
    <ul>
      <li><strong>자신 있음 — Unity</strong></li>
    </ul>
    <p><strong>Programming Language</strong></p>
    <ul>
      <li><strong>자신 있음 — C#, JavaScript, TypeScript</strong></li>
      <li>다룬 경험 있음 — Python, SQL, C++</li>
      <li>이론적 지식 있음 — C, Java, Kotlin</li>
    </ul>
    <p><strong>Web Tool</strong></p>
    <ul>
      <li>
        <strong>자신 있음 — CSS, React, Next.js, Astro, Firebase</strong>
      </li>
      <li>다룬 경험 있음 — Three.js, SolidJS, Supabase, Jekyll</li>
      <li>이론적 지식 있음 — Node.js, Express</li>
    </ul>
    <p><strong>Database</strong></p>
    <ul>
      <li>SQL(MySQL, PostgreSQL)</li>
      <li>Firebase Firestore(문서형 DB)</li>
    </ul>
    <p><strong>Etc.</strong></p>
    <ul>
      <li>다룬 경험 있음 — WPF, TensorFlow</li>
      <li>이론적 지식 있음 — Flutter, PyTorch</li>
    </ul>
  </div>
  <hr />

  <h2>주요 프로젝트</h2>

  <ResumeCard
    folio={find("rhyaction-live")}
    img="/portfolio/rhyaction-live/ss.jpg"
  >
    <p slot="description">
      음악에 맟춰 떨어지는 노트를 맞추는 전통적인 리듬 게임입니다. 컨텐츠의
      핵심인 채보를 사용자가 직접 만들 수 있는 저작 도구가 포함되어 있습니다.
    </p>
    <ul slot="period">
      <li><code>v0.1</code> — 2022년 9월 - 2023년 2월</li>
      <li><code>v0.2</code> — 2023년 3월, 2023년 6월 - 현재</li>
    </ul>
    <ul slot="purpose">
      <li>이전부터 가장 좋아하는 장르인 리듬게임을 직접 만들어보고 싶어서</li>
      <li>
        Unity 사용 경험을 늘리고, Unity 내에서 다양한 형식의 에셋을 관리하는
        경험을 쌓기 위해
      </li>
      <li>
        게임의 핵심 로직을 설계하고, 확장과 유지 보수가 원활한 아키텍처를
        설계하는 능력을 기르기 위해
      </li>
    </ul>
    <ul slot="task">
      <li>채보 파일을 읽어, 게임 내에 사용되는 채보 데이터로 해석</li>
      <li>다양한 버튼 모드 지원: 4B, 5B, 6B, 8B</li>
      <li>
        온전한 리듬게임 개발
        <ul>
          <li>일반 노트 및 롱 노트 지원</li>
          <li>게임 도중 속도 조절 및 일시 정지 가능</li>
        </ul>
      </li>
      <li>채보를 만들 수 있는 저작 도구 개발</li>
      <li>게임 내 그래픽 요소 제작</li>
    </ul>
    <ul slot="feel">
      <li>온전한 게임을 개발하는 것은 매우 힘든 일임을 느꼈다.</li>
      <li>
        프로젝트의 규모가 커지는 만큼 프로젝트 관리의 중요성을 느꼈으며, 디자인
        패턴, 이슈 트래커 등의 여러 방법론을 배우는 계기가 되었다.
      </li>
    </ul>
  </ResumeCard>

  <ResumeCard
    folio={find("bouncy-rumble")}
    img="/portfolio/bouncy-rumble/s1.png"
  >
    <p slot="description">
      캐릭터가 맵 내에서 자신의 무기인 공을 공기로 부풀려서, 상대에게 맞추는
      3인칭 슈팅 게임입니다.
    </p>
    <ul slot="period">
      <li><code>v0.1</code> — 2022년 9월</li>
    </ul>
    <ul slot="purpose">
      <li>
        게임 해커톤 출전작으로, 기획을 제외한 모든 개발 과정이 30시간 이내로
        이루어짐<br />— 해당 해커톤의 최우수상 수상
      </li>
      <li>처음으로 자신만의 게임을 기획함으로서 게임 기획 경험을 쌓기 위해</li>
    </ul>
    <ul slot="task">
      <li>게임 기획 및 기획서 작성</li>
      <li>게임 내 공과 관련된 캐릭터 조작 구현 및 간단한 밸런싱 작업</li>
      <li>체력이 있어 공격을 받으면 파괴되는 마네킹 구현</li>
      <li>레벨 디자인 및 미션 시스템 구현</li>
      <li>게임 내 그래픽 요소 제작 및 캐릭터 디자인</li>
      <li>발표 자료 제작 및 발표</li>
    </ul>
    <ul slot="feel">
      <li>
        단기간 내 게임을 개발해 보면서, 개발의 집중력을 순간적으로 높여보는
        경험을 가질 수 있었다.
      </li>
      <li>
        게임의 완성도를 위해 남은 시간에 따라 구현할 요소를 적당히 선택하는 것이
        중요성을 느끼고, 구현의 우선순위를 선정하는 능력을 기를 수 있었다.
      </li>
    </ul>
  </ResumeCard>

  <ResumeCard folio={find("bookstamp")} img="/portfolio/bookstamp/search.png">
    <p slot="description">
      도서가 중심이 되는 커뮤니티 웹서비스로, 딥러닝 기반의 도서 추천 기능이
      특징입니다.
    </p>
    <ul slot="period">
      <li>2022년 3월 - 2022년 12월</li>
    </ul>
    <ul slot="purpose">
      <li><strong>대학 졸업 작품을 위해 동기 2명과 팀을 이뤄 작업</strong></li>
      <li>풀스택 웹앱 개발 능력을 향상시키기 위해</li>
      <li>팀원들과 작업하면서 협업 개발 경험을 쌓기 위해</li>
    </ul>
    <ul slot="task">
      <li>주제를 고안하고, 기능 및 사용자 경험을 기획</li>
      <li>개발 스택 선정 및 CI/CD 업무 수행</li>
      <li>
        프로젝트 초반 <strong>풀스택 개발</strong> 참여
        <ul>
          <li>Firebase를 통한 사용자 계정 관리 및 로그인/회원가입 폼 제작</li>
          <li>Recoil을 이용한 전역 React 상태 관리</li>
          <li>문서형 DB의 활용 방안을 제시 및 문서의 구조를 정의</li>
        </ul>
      </li>
      <li>
        특정 도서와 연관되어 있는 도서를 추천하는
        <strong>ML 기반 추천 시스템</strong> 개발
        <ul>
          <li>앱 내 인공지능 활용 방법 모색</li>
          <li>
            도서 관련 API 활용 및 사이트 크롤링을 통한 데이터 수집 및 정제
          </li>
          <li>TensorFlow 기반의 ML 모델 구조 설계 및 학습</li>
          <li>모델을 클라우드에 업로드 및 앱 내에서 활용 가능한 API 제작</li>
        </ul>
      </li>
    </ul>
    <ul slot="feel">
      <li>협업을 통해, 커뮤니케이션 능력을 기를 수 있었다.</li>
      <li>제작된 작업물 및 계획을 문서화하는 것이 중요함을 느꼈다.</li>
    </ul>
  </ResumeCard>

  <ResumeCard folio={find("site")}>
    <p slot="description">
      블로그, 포트폴리오, 이력서 등의 개인 작업물들을 보여주기 위한
      사이트입니다.
    </p>
    <ul slot="period">
      <li>리뉴얼 — 2023년 5월 - 현재</li>
      <li>2019년 10월을 시작으로 크고 작은 변화가 있어 왔음</li>
    </ul>
    <ul slot="purpose">
      <li>
        이력서 및 포트폴리오 등의 작업물을 효율적으로 관리하면서, 사이트
        접속자들에게 효과적으로 자신을 소개하기 위해
      </li>
      <li>
        자체적인 블로깅 시스템을 구축하여, 블로그를 더욱 섬세히 관리하기 위해
      </li>
    </ul>
    <ul slot="task">
      <li>
        Astro를 이용해 Static Site Generation 방식으로 사이트 생성
        <ul>
          <li>
            사이트 내에서 자주 사용되는 요소를 컴포넌트로 만들어, 사이트 곳곳에
            사용
          </li>
          <li>Astro Island 기능을 통해 클라이언트 측 JavaScript 사용 파트를 분리</li>
        </ul>
      </li>
      <li>검색 엔진에서 상위권 표시를 위한 SEO 작업</li>
      <li>Three.js를 사용한 메인 화면의 3D 인터렉티브 아트 제작</li>
      <li>
        Supabase 및 SolidJS를 사용해, 방문자 수 카운터 및 좋아요 기능 제작
      </li>
    </ul>
    <ul slot="feel">
      <li>자신만의 사이트를 만들었다는 것에 큰 보람을 느꼈다.</li>
      <li>
        다양한 형태의 컨텐츠를 다루면서, 컨텐츠를 일관적인 방식으로 정리하는
        것이 중요함을 알게 되었다.
      </li>
    </ul>
  </ResumeCard>

  <h2>사이드 프로젝트</h2>

  <ResumeSmallCard folio={find("bouncyan")}>
    <p slot="description">
      귀여운 캐릭터가 통통 튀는 애니메이션을 볼 수 있는 웹사이트입니다.
    </p>
    <p slot="period">2023년 2월</p>
  </ResumeSmallCard>

  <ResumeSmallCard folio={find("ar-experience")}>
    <p slot="description">
      AR 체험 앱으로, 이미지 트래킹 및 슈팅 게임이 포함되어 있습니다.
    </p>
    <p slot="period">2022년 9월</p>
  </ResumeSmallCard>

  <ResumeSmallCard folio={find("wordle-clone")}>
    <p slot="description">
      유명한 영단어 퍼즐게임인 Wordle을 Unity로 클론 코딩하였습니다.
    </p>
    <p slot="period">2022년 7월</p>
  </ResumeSmallCard>

  <ResumeSmallCard folio={find("microplatform")}>
    <p slot="description">
      간단한 2D 플랫포머 게임으로, 키보드 및 터치를 지원합니다.
    </p>
    <p slot="period">2020년 12월</p>
  </ResumeSmallCard>

  <ResumeSmallCard folio={find("sloydjs")}>
    <p slot="description">
      웹 기반의 숫자 슬라이드 퍼즐 게임입니다. 크기 변경, 섞기, 타이머, 솔버
      기능이 있습니다.
    </p>
    <p slot="period">2020년 5월</p>
  </ResumeSmallCard>

  <h2>디자인</h2>
  <p>
    여러 종류 및 여러 스타일의 그래픽 디자인 아트웍을 만들 수 있습니다.
    Dribbble(<a href="https://dribbble.com/CYAN4S"
      >https://dribbble.com/CYAN4S</a
    >)에서 아트웍을 확인하실 수 있습니다.
  </p>
  <p>
    다룰 수 있는 도구는
    <strong>
      Affinity Designer, Figma, SVGator, Blender, Davinci Resolve, Unreal Engine
    </strong>등이 있습니다.
  </p>
  <div class="grid-2-1 ai-c" style="margin-bottom: var(--gap)">
    <img src="/portfolio/rhyaction-live/select-concept.png" alt="" />
    <div>
      <p><strong>그래픽 디자인</strong></p>
      <p>
        로고를 비롯하여, 게임 내 사용되는 대부분의 그래픽 리소스를 직접
        제작합니다.
      </p>
    </div>
  </div>
  <div class="grid-2-1 ai-c" style="margin-bottom: var(--gap)">
    <img src="/resume/warehouse.jpg" alt="" />
    <div>
      <p><strong>3D 디자인</strong></p>
      <p>
        Unreal Engine을 새롭게 공부하면서, 동시에 실사 환경을 디자인해보고
        있습니다.
      </p>
      <p>또한, Blender를 이용해 간단한 프롭을 제작할 수 있습니다.</p>
    </div>
  </div>
  <hr />

  <h2>수상 실적</h2>
  <div class="grid-1-2">
    <div>
      <p><strong>2022 kit Engineering Fair</strong><br />— 동상</p>
    </div>
    <div>
      <p>2022년 12월</p>
      <p>
        웹서비스 <strong><a href="/portfolio/bookstamp">'Bookstamp'</a></strong>
        전시
      </p>
    </div>

    <div>
      <p><strong>2022 경북 게임인 해커톤</strong><br />— 최우수상</p>
    </div>
    <div>
      <p>2022년 11월</p>
      <p>
        게임 <strong>
          <a href="/portfolio/bouncy-rumble">'Bouncy Rumble'</a>
        </strong>
        제작 및 발표
      </p>
    </div>

    <div>
      <p><strong>한국정보기술학회 대학생 논문경진대회</strong><br />— 동상</p>
    </div>
    <div>
      <p>2022년 6월</p>
      <p>
        웹서비스 <strong><a href="/portfolio/bookstamp">'Bookstamp'</a></strong
        >와 관련된 논문 <strong
          >「사용자 소통 활성화를 위한 책 커뮤니티 개발」</strong
        > 출판
      </p>
    </div>

    <div>
      <p>
        <strong>대경권 대학생 프로그래밍 경진 대회</strong><br />— 본선 진출
      </p>
    </div>
    <div>
      <p>2018년 4월</p>
      <p>알고리즘 문제 풀이</p>
    </div>
  </div>
  <hr />

  <h2>취미</h2>
  <ul>
    <li>
      <strong>FL Studio</strong>로 EDM 프로듀싱에 도전 중이며,
      <a href="https://soundcloud.com/cyan4s">SoundCloud</a>에 시험삼아 곡을
      업로드하였습니다.
    </li>
    <li>캐릭터 드로잉에도 관심이 많습니다.</li>
    <li>
      이전에 알고리즘 문제 해결에 관심이 있었습니다. 주로 C++(C++17)을
      사용했습니다.
      <ul>
        <li>
          solved.ac(BOJ) 프로필:
          <a href="https://solved.ac/profile/cyan4s">solved.ac - cyan4s</a>
        </li>
      </ul>
    </li>
  </ul>
  <hr />

  <h2>추가 사항</h2>
  <div class="grid-1-2">
    <p><strong>영어</strong></p>
    <ul>
      <li><strong>TOEIC 795</strong> (2020/12/13)</li>
      <li>대학교 교내 모의 TOEIC 805 (2022/05/12)</li>
      <li>영어로 된 기술 문서를 무리없이 읽을 수 있음</li>
      <li>영어 문서 작성, 일상 영어 회화 가능</li>
    </ul>

    <p><strong>논문</strong></p>
    <div>
      <p><strong>「사용자 소통 활성화를 위한 책 커뮤니티 개발」</strong></p>
      <p>
        <a
          href="https://www.dbpia.co.kr/journal/articleDetail?nodeId=NODE11082600"
        >
          https://www.dbpia.co.kr/journal/articleDetail?nodeId=NODE11082600
        </a>
      </p>
    </div>
  </div>
</article>
