---
import Icon from "./Icon.astro";
---

<button
  id="top"
  aria-label="Scroll to top"
  class="flex items-center justify-center w-12 h-12 fixed bottom-6 right-6 rounded-full border-0 bg-primary transition p-0 m-0 cursor-pointer hover:bg-[#22dbcb] active:bg-primary active:transform-[scale(1.1,0.9)]"
>
  <Icon id="uparrow" fill="fff" size={28} />
</button>

<script>
  const button = document.getElementById("top");
  button!.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
