---
import "../styles/social.css";

const {name, fullname, link} = Astro.props;
---

<a href={link} class={name}>
  <svg class="social">
    <use xlink:href={`/icon.svg#${name}`}></use>
  </svg>
  <span>{fullname}</span>
</a>
