---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import type { ImageMetadata } from "astro";

type Props = {
  title?: string;
  description?: string;
  heroImage?: ImageMetadata;
  seamless?: boolean;
};

const { title, description, heroImage, seamless } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
    <slot name="style" />
  </head>
  <body>
    <Header title={title} />
    <main style={seamless ? "" : "margin-top: 80px"}>
      <slot />
    </main>
  </body>
</html>
