---
import { CollectionEntry, getCollection } from "astro:content";
import Default from "../../layouts/Default.astro";
import ScrollToTop from "../../components/ScrollToTop.astro";
import Meta from "../../components/Meta.astro";

export async function getStaticPaths() {
  const posts = await getCollection("portfolio");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
      slug: post.slug,
    },
  }));
}

type Props = {
  post: CollectionEntry<"portfolio">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<style>
  hr {
    margin: 4rem 0;
  }
</style>

<Default>
  <article>
    <img src={post.data.heroImage} alt="" />
    <h1>{post.data.title}</h1>
    <Meta post={post} />
    <hr />
    <Content />
  </article>
  <ScrollToTop />
</Default>
