---
import { getCollection } from "astro:content";
import Default from "../../layouts/Default.astro";

const posts = await getCollection("portfolio");
---

<Default
  title="CYAN4S Portfolio"
  description="CYAN4S의 포트폴리오입니다."
  heroImage="/placeholder-blog.png"
>
  <div class="card-grid">
    {
      posts.map((post) => (
        <a class="card" href={`/portfolio/${post.slug}`}>
          <img src={post.data.heroImage} />
          <div class="card-title">{post.data.title}</div>
          <div class="card-desc">{post.data.description}</div>
        </a>
      ))
    }
  </div>
</Default>
